html,
body,
.view {
  height: 100%;
}


/* Full Page Carousel itself*/

.carousel {
  height: 100%;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100%;
}


/* Navbar animation */

.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
  background-color: #1C2331;
}


/* Adding color to the Navbar on mobile */

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(28, 35, 49, 0.856);
  }
}


/* Body */

.gap-list {
  margin-left: 3.333333%;
}

.page-footer {
  background-color: #1C2331;
}

@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');
body {
  font-family: 'Muli', sans-serif;
}

h2 {
  font-family: 'Damion', cursive;
  font-weight: 400;
  color: #56a7cc;
  font-size: 35px;
  text-align: center;
  position: relative;
}

h2:before {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  top: 22px;
  height: 1px;
}

h2 i {
  font-style: normal;
  background: #fff;
  position: relative;
  padding: 10px;
}

 :focus {
  outline: none;
}

.wrapper {
  padding-bottom: 50px;
}

.divider {
  position: relative;
  margin-top: 50px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(48, 49, 51, 0.2), transparent);
}

* {
  box-sizing: border-box;
}


/* trick details */

div#captioned-gallery {
  width: 100%;
  overflow: hidden;
}

figure.slider {
  position: relative;
  width: 500%;
  font-size: 0;
  animation: 30s slidy infinite;
}

figure.slider figure {
  width: 20%;
  height: auto;
  display: inline-block;
  position: inherit;
}

figure.slider img {
  width: 100%;
  height: auto;
}

figure.slider figure figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 100%;
  font-size: 2rem;
  padding: .6rem;
}


/* user */

.user-page .card-user {
  margin-top: -300px;
}

.container-user {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container-user {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-user {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-user {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-user {
    max-width: 500px;
  }
}

.section-user-cover {
  height: 500px;
  padding-bottom: 500px;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 991.98px) {
  .section-user-cover {
    height: 50px;
  }
}

.signup-form {
  width: 390px;
  margin: 0 auto;
  padding: 30px 0;
}

.signup-form form {
  border-radius: 1px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.signup-form .form-group {
  margin-bottom: 20px;
}


/* background */

.bg {
  background: url("../../snowtricks/img/1.jpg") no-repeat center center;
  height: 100%;
  background-size: cover;
}


/* scrollup */

.scrollup {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: fixed;
  bottom: 180px;
  right: 0px;
  display: none;
}


/* scrolldown */

.scrolldown {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  bottom: 20px;
  right: 25px;
}


/* responsive navbar */

@media (min-width: 992px) {
  nav.navbar.bootsnav.navbar-fixed .logo-display {
    display: none;
  }
  .fixed-bottom {
    display: none !important;
  }
  nav.navbar.bootsnav ul.nav>li>a {
    padding: 30px 15px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Lobster';
  }
  nav.navbar.bootsnav ul.nav>li {
    padding: 0 5px;
  }
}

@media (max-width: 992px) {
  .navbar-expand-lg {
    display: none !important;
  }
}


/* responsive medias */

@media (min-width: 992px) {
  #medias-show {
    display: none;
  }
  #medias-hidden {
    display: none;
  }
}

@media (max-width: 992px) {
  #medias-hidden {
    display: none;
  }
  #images {
    display: none;
  }
  #videos {
    display: none;
  }
  #medias-divider {
    display: none;
  }
}


/* responsive background */

@media (max-width: 992px) {
  .section-shaped {
    display: none;
  }
  .background {
    display: none;
  }
  .section-profile-cover {
    display: none;
  }
  .mt--300 {
    margin-top: -50px !important;
  }
}