<!DOCTYPE html>
<html>
    <body>
        <h3>Réinitialisation de votre mot de passe</h3>
        <hr>
        <p>
            Bonjour <b>{{ user.username }}</b> !
            <br>
            Pour réinitialiser votre mot de passe, <a href=" {{ path('user_reset_password', { 'token': user.token }) }}">cliquez ici</a> !
        </p>
        <hr>
        L'équipe SnowTricks.
    </body>
</html>
